@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background: url("images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
    background-size: contain;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: hsl(0, 100%, 100%);
    padding: 36px 39px;
}

.mockup {
    width: 100%;
    margin: 4rem 0;
}

.logo {
    width: 128px;
    height: 32px;
}

.logo > img {
    width: 100%;
    height: 100%;
    display: block;
}

h1, p {
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

p {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 200px;
    height: 40px;
    border-radius: 32px;
    background-color: hsl(0, 100%, 100%);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    color: hsl(257, 40%, 49%);
    box-shadow: 0px 5px 15px 0px rgba(29, 29, 29, 0.452);
}

button:hover {
    cursor: pointer;
    background-color: hsl(300, 69%, 71%);
    color: hsl(0, 100%, 100%);
}

footer {
    margin-top: 4rem;
}

.social {
    display: flex;
    justify-content: center;
}

.soc-icon {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid hsl(0, 100%, 100%);
    border-radius: 50%;
    padding: 16px;
}

.soc-icon:hover {
    border: 1px solid hsl(300, 69%, 71%);
    cursor: pointer;
}

.soc-icon:hover > i {
    color: hsl(300, 69%, 71%);
}

.soc-icon:nth-child(2) {
    margin: 0 0.5rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 2rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}